.linavbar_login {
    width: 29em !important;
    display: block !important;
    transition: all ease 1s;
}

.navbartabs {
    display: none;
    transition: all ease 1s;
}

.navbartabsinputs {
    display: block !important;
    transition: all ease 1s;
}

.parallax {
    background-image: url("../img/headerimg.png");
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-secondary {
    color: black;
    background-color: white;
    border-color: white;
}

.btn-secondary:hover {
    color: black;
    background-color: white;
    border-color: white;
}

.btn-secondary.dropdown-toggle {
    color: black !important;
    background-color: white !important;
    border-color: white !important;
}

.container {
    min-height: 0vh !important;
}


/*-----------------  HEADER DETAIL -----------------*/

#Header-Detail {
    height: 2em;
    width: 100%;
    background-color: #435b71;
    margin: auto;
}

.Header-Detail-content-left {
    float: left;
    color: #e8eef3;
    font-size: 14px;
}

.Header-Detail-content-right {
    float: right;
    color: #e8eef3;
    font-size: 14px;
    border: 0px solid red;
    width: 27em;
    height: 2.2em;
    text-align: right;
}


/*-----------------  HEADER NAV -----------------*/

.img-leftlogo {
    width: 10em;
    margin-left: 5em;
}

.liactive {
    color: #a1cd45 !important;
}

.navbar-brand {
    margin-right: 0 !important;
}

.navbar {
    padding: 0 !important;
}

.navbar_logo {
    width: 80px;
    height: 80px;
    margin-left: -40px;
    top: 13px;
    z-index: 50;
    display: block;
    position: absolute;
    left: 48%;
}

#Header-content {
    box-shadow: 0px 0px 12px 0px rgb(24, 23, 23);
    background-color: #ffffff !important;
    height: 6em;
}

.Header-content {
    box-shadow: 5px 5px 5px 5px rgb(24, 23, 23);
    background-color: #ffffff !important;
}

.btnlogout {
    background-color: #d9534f;
    color: white !important;
    font-weight: bolder;
    padding-top: 0.6em;
    width: 5em;
    text-align: center;
}

.btnlogout:hover {
    background-color: #d16e6a !important;
    cursor: pointer;
}

.navbar-dark .navbar-brand {
    color: #222222;
}

.linavbar {
    height: 2.1em;
    display: inline-block;
    border: 0px solid #f0eff0;
    padding-top: 0.6em;
    width: 6.5em;
    text-align: center;
    font: 12px"Poppins", sans-serif;
    cursor: pointer;
}

.linavbarlogins {
    height: 2.1em;
    display: inline-block;
    border: 0px solid #f0eff0;
    padding-top: 0.6em;
    width: 0em;
    text-align: center;
    font: 12px"Poppins", sans-serif;
}

.linavbar:hover {
    color: #a1cd45 !important;
    cursor: pointer;
}

html {
    scroll-behavior: smooth !important;
}

.sticky-top {
    position: fixed;
    height: 4em !important;
    width: 100%;
    top: -70px;
    left: 0;
    right: 0;
    background: #fff;
    -webkit-transform: translateY(70px);
    -ms-transform: translateY(70px);
    transform: translateY(70px);
    -webkit-transition: background 1500ms ease, -webkit-transform 1500ms ease;
    transition: background 1500ms ease, -webkit-transform 1500ms ease;
    -o-transition: transform 1500ms ease, background 1500ms ease;
    transition: transform 1500ms ease, background 1500ms ease;
    transition: transform 1500ms ease, background 1500ms ease, -webkit-transform 1500ms ease;
    -webkit-transition: transform 1500ms ease, background 1500ms ease;
    -webkit-box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.1);
}

#return-to-top {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    font-size: 18px;
    cursor: pointer;
    border-width: 2px;
}

#return-to-top:hover {
    color: #d9534f;
}

.font-weight-light {
    font-weight: 300!important;
    margin-top: 2em !important;
}

.font-weight-hard {
    font-weight: 400!important;
    margin-top: 2em !important;
    padding-top: 2em;
    font-size: 1.8em;
}

.font-weight-hard-servicesoffered {
    font-weight: 400!important;
    padding-top: 2em;
    font-size: 1.8em;
}

.color-black-opacity-5 {
    color: rgba(0, 0, 0, 0.5);
}

.h2,
h2 {
    font-size: 2.5rem;
}

.text-black {
    color: #000 !important;
}


/*-----------------  Body-content -----------------*/

body {
    background-color: #f8f8f8 !important;
}

#Body-content {
    height: 100%;
    border: 0px solid red;
    width: 100%;
    background-color: #f8f8f8;
    padding-top: 0em;
}


/*-----------------  Footer-content -----------------*/

.social-icon-fb-footer {
    font-size: 15px !important;
    color: #d3d7dfc5;
    text-shadow: 2px 2px 18px rgb(90, 120, 158);
}

.social-icon-fb-footer:hover {
    color: #ffffff;
    cursor: pointer;
}

.site-footer p {
    color: #737373;
}

.footer-heading {
    font-size: 20px;
    color: #fff;
}

.botfooter {
    margin-bottom: 2.5em;
}

.botfooterchat {
    margin-bottom: 2.5em;
    margin-right: 2.5em;
}

.viewchat {
    display: block !important;
}

#Footer-content {
    border: 0px solid red;
    height: 3em;
    width: 100%;
    text-align: center;
    background-color: #268bd0;
    opacity: 0.8;
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 99;
    font-size: 18px;
}


/*-----------------  SideBar -----------------*/

.sidebarscroll {
    margin-top: 3.5em;
}

#sidebar {
    position: fixed;
    left: 0px;
    z-index: 99;
    font-size: 18px;
    cursor: pointer;
    border: 0px solid 32383d;
    background-color: #e9a14d;
    height: 100%;
    width: 0em;
    color: white;
    transition: all 1s ease;
    box-shadow: 7px 0px 7px 0px rgb(24, 23, 23);
}

.sidebar-expand {
    position: fixed;
    left: 0px;
    z-index: 99;
    font-size: 18px;
    cursor: pointer;
    border: 0px solid 32383d;
    background-color: #32383d;
    height: 100%;
    width: 20em !important;
    color: white;
    transition: all 0.5s ease;
}

#btn-sidebar {
    float: left;
    height: 4.6em;
    border: 0px solid red;
    background-color: #ffffff;
    cursor: pointer;
    width: 6.5em;
    font-size: 1.3em;
    font-weight: 200;
}

.btn-sidebarscroll {
    float: left;
    height: 3.1em !important;
    border: 0px solid red;
    background-color: #ffffff;
    cursor: pointer;
    width: 4.8em;
}

#btn-sidebar:hover {
    cursor: pointer;
    background-color: #f2f2f2;
}

#btn-close-sidebar {
    float: right;
    border: 0px solid red;
    margin-top: 1em;
    margin-right: 1em;
    color: #00dbff;
    background-color: transparent;
}

#btn-close-sidebar:hover {
    color: red;
    background-color: rgba(17, 16, 16, 0.171);
}

.mi-clear {
    font-size: 55px !important;
}

.sidebar-img-circle {
    height: 100px;
    width: 100px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    border: 0px solid rgb(155, 153, 153);
    margin-left: 35.5%;
    margin-top: 12%;
    transition: all 1s ease;
}

.sidebar-img-bg {
    /* background-image: url("../assets/img/topimg.jpg"); */
    height: 15em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.sidenav {
    margin-top: 5.5em;
    border: 0px solid red;
}

.sidenav>li {
    height: 3em;
    display: block;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #626a74;
    padding-top: 1em;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.sidenav>li:hover {
    background-color: #f2f2f2;
    cursor: pointer;
    color: black;
}

.Navbarleft-home {
    display: block !important;
    transition: all 5s ease;
}

.Navbarleft-home>ul>li {
    display: block !important;
}

.Navbarleft-home>ul>li:hover {
    background-color: red;
    cursor: pointer;
}

.sidebar-content-hide {
    display: none;
}

.sidebar-content-show {
    display: inline !important;
    opacity: 1;
    visibility: visible;
}

.social-icon-youtube-main {
    font-size: 32px !important;
    color: #bd081c;
    text-shadow: 2px 2px 15px rgb(90, 120, 158);
}

.social-icon-youtube-main:hover {
    font-size: 32px;
    color: #ffffff;
}

.social-icon-instagram-main {
    font-size: 32px !important;
    color: #020202;
    text-shadow: 2px 2px 15px rgb(90, 120, 158);
}

.social-icon-instagram-main:hover {
    font-size: 32px;
    color: #ffffff;
}

.social-icon-fb-main {
    font-size: 32px !important;
    color: #3b5998;
    text-shadow: 2px 2px 18px rgb(90, 120, 158);
}

.social-icon-fb-main:hover {
    font-size: 32px;
    color: #ffffff;
}

.social-icon-login {
    /* font-size:52px; */
    color: #3b5998;
    text-shadow: 2px 2px 18px rgb(90, 120, 158);
}

.social-icon-login:hover {
    /* font-size:52px; */
    color: #ffffff;
}


/*-----------------  Page Loader -----------------*/

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 15em;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgb(43, 41, 41);
    border: 0px solid red;
    opacity: 0.5;
}

.spinner {
    margin: 100px auto 0;
    width: 370px;
    text-align: center;
    border: 0px solid red;
}

.spinner>div {
    width: 38px;
    height: 38px;
    background-color: #fde778;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
    color: #f93;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}


/*-----------------  Top Destinations -----------------*/

.vgs__container__img {
    width: 100%;
    height: 100%;
    object-fit: fill !important;
}

.image {
    cursor: pointer;
    float: right;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid #ebebeb;
    margin: 5px;
}

.image:hover {
    opacity: 0.5;
}


/*-----------------  PARTNERS -----------------*/

.imagepartners {
    cursor: pointer;
    float: right;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid white;
    margin: 5px;
}

.imagepartners:hover {
    background-color: rgba(136, 136, 136, 0.178);
}


/*-----------------  Inquiries -----------------*/

#return-to-topchat {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    font-size: 18px;
    cursor: pointer;
    border-width: 2px;
    border: 1px solid red;
    z-index: 1;
    width: 50px;
    height: 50px;
    text-align: center;
    bottom: 7px;
    border: 0;
    outline: 0;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    box-shadow: 2px 0px 5px 0px rgb(24, 23, 23);
    -webkit-transition: box-shadow .2s ease;
    background-size: 80%;
    transition: all .2s ease-in-out;
}

#return-to-topchat:hover {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    font-size: 18px;
    cursor: pointer;
    border-width: 2px;
    border: 1px solid red;
    z-index: 1;
    width: 60px;
    height: 60px;
    text-align: center;
    bottom: 7px;
    border: 0;
    outline: 0;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .06), 0 2px 32px rgba(0, 0, 0, .16);
    -webkit-transition: box-shadow .2s ease;
    background-size: 80%;
    transition: all .2s ease-in-out;
}

.fb-widget {
    background: #fff;
    z-index: 2;
    position: fixed;
    width: 360px;
    height: 435px;
    overflow: hidden;
    opacity: 0;
    bottom: 4px;
    right: 24px;
    border-radius: 6px;
    -o-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: 0 5px 40px rgba(0, 0, 0, .16);
    -webkit-box-shadow: 0 5px 40px rgba(0, 0, 0, .16);
    -moz-box-shadow: 0 5px 40px rgba(0, 0, 0, .16);
    -o-box-shadow: 0 5px 40px rgba(0, 0, 0, .16);
}

.fb-widget {
    bottom: 70px !important;
}

.ctrlq.fb-close {
    z-index: 4;
    padding: 0 6px;
    background: #365899;
    font-weight: 900;
    font-size: 15px;
    color: #fff;
    margin: 8px;
    border-radius: 3px;
    cursor: pointer;
}

.ctrlq.fb-close {
    position: fixed;
    right: 40px;
    cursor: pointer;
}


/*-----------------  Service Offered -----------------*/

.custom-text {
    color: #0b464c;
    font-size: 1.3em;
}


/*-----------------  Get in touch -----------------*/

.mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 600px;
}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
    height: 500px;
    width: 600px;
}


/*-----------------   -----------------*/

@-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
    }
}

@keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@media only screen and (max-width: 990px) {
    .linavbar {
        width: 100%;
        text-align: left;
    }
    #btn-sidebar {
        position: absolute;
    }
    .img-leftlogo {
        width: 10em;
        margin-left: 8em;
    }
    .navbar-toggler {
        height: 4.8em;
    }
    .navbar-togglerscroll {
        height: 3.2em !important;
    }
    .navbar-nav {
        margin-top: 0em;
        background-color: white;
        width: 100%;
    }
    .Header-content {
        padding: 2em;
    }
}

@media only screen and (max-width: 534px) {
    .Header-Detail-content-right {
        width: 26em;
        border: 0px solid blue;
        font-size: 12px;
    }
    .mapouter {
        position: relative;
        text-align: right;
        height: 500px;
        width: 400px;
    }
    .gmap_canvas {
        overflow: hidden;
        background: none!important;
        height: 500px;
        width: 360px;
    }
}

@media (min-width: 1340px) {
    .container {
        max-width: 1540px;
    }
}